@import 'varibles';
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
.card-courses-item{
    margin-top: 18px;
}
.user-dropdown{
    display:flex;
}
.user-name{
    margin-left:10px;
}