.card .card-footer{
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: aquamarine;
    background: red;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}