.vertical-line {
    width: 2px; /* Độ dày của thanh dọc */
    height: 30px; /* Chiều cao của thanh dọc */
    background-color: rgb(221, 221, 221); /* Màu sắc của thanh dọc */
    margin-right: 15px; /* Khoảng cách giữa thanh dọc và các phần tử khác */
  }
  