.btn-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn-collapse:hover {
  text-decoration: none;
}
.btn-collapse:focus {
  text-decoration: none;
}
.btn-collapse .icons {
  position: absolute;
  left: 4px;
}
.collapse a {
  color: rgb(0, 0, 0);
}
.collapse a:hover {
  background: rgb(228, 142, 31);
  color: rgb(253, 252, 251);
}
.sidebar {
  width: 210px;
}
.sidebar button {
  color: black;
}
.sidebar button:hover {
  color: rgb(228, 142, 31);
}
