<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/%7Bversion%7D/css/all.min.css">
    <div id="footer">
        <div class="grid">
            <div class="grid-row">
                <div class="grid-column">
                    <h3 class="footer-heading">Trang chủ</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href=""class="footer-item-link">Là trang web quản lí nhân sự</a>
                        </li>
                        <li class="footer-item">
                            <a href=""class="footer-item-link">Do 5 thành viên quản lý</a>
                        </li>
                        <li class="footer-item">
                            <a href=""class="footer-item-link">Phục vụ khách hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="grid-column">
                    <h3 class="footer-heading">Giới thiệu</h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="https://www.facebook.com/profile.php?id=100023019017099&mibextid=ZbWKwL"class="footer-item-link">Phan Thanh Dĩ</a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/lam.thong.98434?mibextid=ZbWKwL"class="footer-item-link">Lâm Truyền Thống</a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/profile.php?id=100017384322049&mibextid=ZbWKwL"class="footer-item-link">Nguyễn Trung Trực</a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/du.nhien.777?mibextid=ZbWKwL"class="footer-item-link">Nguyễn Phạm Phương Linh</a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/profile.php?id=100075440889449&mibextid=ZbWKwL"class="footer-item-link">Lê Tâm Như</a>
                        </li>
                    </ul>
                </div>
                <div class="grid-column">
                    <h3 class="footer-heading">Theo dõi chúng tôi trên: </h3>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="https://www.facebook.com/groups/547869706980004/"class="footer-item-link">
                                <i class="fa-brands fa-facebook"></i>
                                Facebook
                                </a>
                                </li>
                              <li class="footer-item">
                            <a href="https://instagram.com/letamnhu0312?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="class="footer-item-link">
                                <i class="fa-brands fa-instagram"></i>
                                Instagram
                                </a>
                                </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    