<nav id="sidebar-left" class="navbar navbar-light">
  <div>
    <div class="sidebar">
      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse1"
          aria-expanded="true"
          aria-controls="collapse1"
        >
          <div class="icons"><i class="fa-solid fa-calendar-check"></i></div>
          Bảng công
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse1">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-1-1">Bảng công nhân viên</a>
          <a class="nav-link ml-3 my-1" href="#item-1-2">Cài đặt ngày công</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse2"
          aria-expanded="true"
          aria-controls="collapse2"
        >
          <div class="icons"><i class="fa-solid fa-rectangle-list"></i></div>
          Đơn từ
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse2">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-2-1">Danh sách đơn từ</a>
          <a class="nav-link ml-3 my-1" href="#item-2-2">Chính sách nghỉ phép</a>
          <a class="nav-link ml-3 my-1" href="#item-2-3">Quy trình duyệt đơn</a>
          <a class="nav-link ml-3 my-1" href="#item-2-4">Lý do tạo đơn từ</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse3"
          aria-expanded="true"
          aria-controls="collapse3"
        >
          <div class="icons"><i class="fa-solid fa-user-group"></i></div>
          Quản lý nhân sự
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse3">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-3-1">Danh sách nhân viên</a>
          <a class="nav-link ml-3 my-1" href="#item-3-2">Quản lý phép</a>
          <a class="nav-link ml-3 my-1" href="#item-3-3">Quản lý vai trò</a>
          <a class="nav-link ml-3 my-1" href="#item-3-4">Quản lý thông tin thu
            nhập</a>
          <a class="nav-link ml-3 my-1" href="#item-3-5">Cài đặt tỉ lệ đóng bảo
            hiểm</a>
          <a class="nav-link ml-3 my-1" href="#item-3-6">Cài đặt nhận thông báo</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse4"
          aria-expanded="true"
          aria-controls="collapse4"
        >
          <div class="icons"><i class="fa-solid fa-building-user"></i></div>
          Cài đặt doanh nghiệp
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse4">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-4-1">Thông tin công ty</a>
          <a class="nav-link ml-3 my-1" href="#item-4-2">Hệ thống chi nhánh</a>
          <a class="nav-link ml-3 my-1" href="#item-4-3">Cơ cấu tổ chức</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse5"
          aria-expanded="true"
          aria-controls="collapse5"
        >
          <div class="icons"><i class="fa-solid fa-calendar-days"></i></div>
          Cài đặt lịch
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse5">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-4-1">Ca làm việc</a>
          <a class="nav-link ml-3 my-1" href="#item-4-2">Phân ca</a>
          <a class="nav-link ml-3 my-1" href="#item-4-3">Lịch làm việc</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse6"
          aria-expanded="true"
          aria-controls="collapse6"
        >
          <div class="icons"><i class="fa-solid fa-clipboard-user"></i></div>
          Cài đặt chấm công
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse6">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Hình thức chấm công</a>
          <a class="nav-link ml-3 my-1" href="#item-6-2">Chấm công điện thoại</a>
          <a class="nav-link ml-3 my-1" href="#item-6-3">Chấm công vân tay</a>
          <a class="nav-link ml-3 my-1" href="#item-6-4">Chấm công khuôn mặt</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse7"
          aria-expanded="true"
          aria-controls="collapse7"
        >
          <div class="icons"><i class="fa-solid fa-newspaper"></i></div>
          Tin tức
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse7">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Danh mục</a>
          <a class="nav-link ml-3 my-1" href="#item-6-2">Danh sách tin tức</a>
          <a class="nav-link ml-3 my-1" href="#item-6-3">Phản hồi</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse8"
          aria-expanded="true"
          aria-controls="collapse8"
        >
          <div class="icons"><i
              class="fa-solid fa-mobile-screen-button"
            ></i></div>
          Popup
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse8">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Popup sự kiện</a>
          <a class="nav-link ml-3 my-1" href="#item-6-2">Popup cá nhân</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse9"
          aria-expanded="true"
          aria-controls="collapse9"
        >
          <div class="icons"><i class="fa-solid fa-earth-americas"></i></div>
          Sự kiện
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse9">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Cá nhân</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse10"
          aria-expanded="true"
          aria-controls="collapse10"
        >
          <div class="icons"><i class="fa-solid fa-calculator"></i></div>
          Tính lương
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse10">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-10-1">Mẫu bảng lương</a>
          <a class="nav-link ml-3 my-1" href="#item-10-2">Bảng lương</a>
          <a class="nav-link ml-3 my-1" href="#item-10-3">Cài đặt chung</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link btn-collapse"
          data-toggle="collapse"
          data-target="#collapse11"
          aria-expanded="true"
          aria-controls="collapse11"
        >
          <div class="icons"><i class="fa-solid fa-kaaba"></i></div>
          Quản lý khác
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <div class="collapse" id="collapse11">
        <div class="">
          <a class="nav-link ml-3 my-1" href="#item-10-1">Cấu hình tích hợp</a>
          <a class="nav-link ml-3 my-1" href="#item-10-2">Cấu hình lịch làm việc</a>
        </div>
      </div>

    </div>
  </div>
</nav>