<nav id="sidebar-left" class="navbar navbar-light bg-light">
  <div class="container">
    {{! <nav class="nav nav-pills flex-column">
      <a class="nav-link dropdown-btn" href="#item-1">Bảng công
        <i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-1-1">Bảng công nhân viên</a>
        <a class="nav-link ml-3 my-1" href="#item-1-2">Cài đặt ngày công</a>
      </nav>
      <a class="nav-link" href="#item-2">Đơn từ<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-2-1">Danh sách đơn từ</a>
        <a class="nav-link ml-3 my-1" href="#item-2-2">Chính sách nghỉ phép</a>
        <a class="nav-link ml-3 my-1" href="#item-2-3">Quy trình duyệt đơn</a>
        <a class="nav-link ml-3 my-1" href="#item-2-4">Lý do tạo đơn từ</a>
      </nav>
      <a class="nav-link" href="#item-3">Quản lý nhân sự<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-3-1">Danh sách nhân viên</a>
        <a class="nav-link ml-3 my-1" href="#item-3-2">Quản lý phép</a>
        <a class="nav-link ml-3 my-1" href="#item-3-3">Quản lý vai trò</a>
        <a class="nav-link ml-3 my-1" href="#item-3-4">Quản lý thông tin thu
          nhập</a>
        <a class="nav-link ml-3 my-1" href="#item-3-5">Cài đặt tỉ lệ đóng bảo
          hiểm</a>
        <a class="nav-link ml-3 my-1" href="#item-3-6">Cài đặt nhận thông báo</a>
      </nav>
      <a class="nav-link" href="#item-4">Cài đặt doanh nghiệp<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-4-1">Thông tin công ty</a>
        <a class="nav-link ml-3 my-1" href="#item-4-2">Hệ thống chi nhánh</a>
        <a class="nav-link ml-3 my-1" href="#item-4-3">Cơ cấu tổ chức</a>
      </nav>
      <a class="nav-link" href="#item-5">Cài đặt lịch<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-5-1">Ca làm việc</a>
        <a class="nav-link ml-3 my-1" href="#item-5-2">Phân ca</a>
        <a class="nav-link ml-3 my-1" href="#item-5-3">Lịch nghĩ lễ</a>
      </nav>
      <a class="nav-link" href="#item-6">Cài đặt chấm công<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-6-1">Hình thức chấm công</a>
        <a class="nav-link ml-3 my-1" href="#item-6-2">Chấm công điện thoại</a>
        <a class="nav-link ml-3 my-1" href="#item-6-3">Chấm công vân tay</a>
        <a class="nav-link ml-3 my-1" href="#item-6-4">Chấm công khuôn mặt</a>
      </nav>
      <a class="nav-link" href="#item-7">Tin tức<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-7-1">Danh mục</a>
        <a class="nav-link ml-3 my-1" href="#item-7-2">Danh sách tin tức</a>
        <a class="nav-link ml-3 my-1" href="#item-7-3">Phản hồi</a>
      </nav>
      <a class="nav-link" href="#item-8">Popup<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-8-1">Popup sự kiện</a>
        <a class="nav-link ml-3 my-1" href="#item-8-2">Popup cá nhân</a>
      </nav>
      <a class="nav-link" href="#item-9">Sự kiện<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-9-1">Cá nhân</a>
      </nav>
      <a class="nav-link" href="#item-10">Tính lương<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-10-1">Mẫu bảng lương</a>
        <a class="nav-link ml-3 my-1" href="#item-10-2">Bảng lương</a>
        <a class="nav-link ml-3 my-1" href="#item-10-3">Cài đặt chung</a>
      </nav>
      <a class="nav-link" href="#item-11">Quản lý khác<i class="fa fa-caret-down"></i></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-11-1">Cấu hình tích hợp</a>
        <a class="nav-link ml-3 my-1" href="#item-11-2">Cấu hình lịch làm việc</a>
      </nav>
    </nav> }}
    <div class="card">
      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse1"
          aria-expanded="true"
          aria-controls="collapse1"
        >
          Bảng công
        </button>
      </div>
      <div class="collapse show" id="collapse1">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-1-1">Bảng công nhân viên</a>
          <a class="nav-link ml-3 my-1" href="#item-1-2">Cài đặt ngày công</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse2"
          aria-expanded="true"
          aria-controls="collapse2"
        >
          Đơn từ
        </button>
      </div>
      <div class="collapse show" id="collapse2">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-2-1">Danh sách đơn từ</a>
          <a class="nav-link ml-3 my-1" href="#item-2-2">Chính sách nghỉ phép</a>
          <a class="nav-link ml-3 my-1" href="#item-2-3">Quy trình duyệt đơn</a>
          <a class="nav-link ml-3 my-1" href="#item-2-4">Lý do tạo đơn từ</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse3"
          aria-expanded="true"
          aria-controls="collapse3"
        >
          Quản lý nhân sự
        </button>
      </div>
      <div class="collapse show" id="collapse3">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-3-1">Danh sách nhân viên</a>
          <a class="nav-link ml-3 my-1" href="#item-3-2">Quản lý phép</a>
          <a class="nav-link ml-3 my-1" href="#item-3-3">Quản lý vai trò</a>
          <a class="nav-link ml-3 my-1" href="#item-3-4">Quản lý thông tin thu
            nhập</a>
          <a class="nav-link ml-3 my-1" href="#item-3-5">Cài đặt tỉ lệ đóng bảo
            hiểm</a>
          <a class="nav-link ml-3 my-1" href="#item-3-6">Cài đặt nhận thông báo</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse4"
          aria-expanded="true"
          aria-controls="collapse4"
        >
          Cài đặt doanh nghiệp
        </button>
      </div>
      <div class="collapse show" id="collapse4">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-4-1">Thông tin công ty</a>
          <a class="nav-link ml-3 my-1" href="#item-4-2">Hệ thống chi nhánh</a>
          <a class="nav-link ml-3 my-1" href="#item-4-3">Cơ cấu tổ chức</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse5"
          aria-expanded="true"
          aria-controls="collapse5"
        >
          Cài đặt lịch
        </button>
      </div>
      <div class="collapse show" id="collapse5">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-4-1">Ca làm việc</a>
          <a class="nav-link ml-3 my-1" href="#item-4-2">Phân ca</a>
          <a class="nav-link ml-3 my-1" href="#item-4-3">Lịch làm việc</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse6"
          aria-expanded="true"
          aria-controls="collapse6"
        >
          Cài đặt chấm công
        </button>
      </div>
      <div class="collapse show" id="collapse6">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Hình thức chấm công</a>
          <a class="nav-link ml-3 my-1" href="#item-6-2">Chấm công điện thoại</a>
          <a class="nav-link ml-3 my-1" href="#item-6-3">Chấm công vân tay</a>
          <a class="nav-link ml-3 my-1" href="#item-6-4">Chấm công khuôn mặt</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse7"
          aria-expanded="true"
          aria-controls="collapse7"
        >
          Tin tức
        </button>
      </div>
      <div class="collapse show" id="collapse7">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Danh mục</a>
          <a class="nav-link ml-3 my-1" href="#item-6-2">Danh sách tin tức</a>
          <a class="nav-link ml-3 my-1" href="#item-6-3">Phản hồi</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse8"
          aria-expanded="true"
          aria-controls="collapse8"
        >
          Popup
        </button>
      </div>
      <div class="collapse show" id="collapse8">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Popup sự kiện</a>
          <a class="nav-link ml-3 my-1" href="#item-6-2">Popup cá nhân</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse9"
          aria-expanded="true"
          aria-controls="collapse9"
        >
          Sự kiện
        </button>
      </div>
      <div class="collapse show" id="collapse9">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-6-1">Cá nhân</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse10"
          aria-expanded="true"
          aria-controls="collapse10"
        >
          Tính lương
        </button>
      </div>
      <div class="collapse show" id="collapse10">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-10-1">Mẫu bảng lương</a>
          <a class="nav-link ml-3 my-1" href="#item-10-2">Bảng lương</a>
          <a class="nav-link ml-3 my-1" href="#item-10-3">Cài đặt chung</a>
        </div>
      </div>

      <div class="Dropdown-link">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse11"
          aria-expanded="true"
          aria-controls="collapse11"
        >
          Quản lý khác
        </button>
      </div>
      <div class="collapse show" id="collapse11">
        <div class="card-body">
          <a class="nav-link ml-3 my-1" href="#item-10-1">Cấu hình tích hợp</a>
          <a class="nav-link ml-3 my-1" href="#item-10-2">Cấu hình lịch làm việc</a>
        </div>
      </div>

    </div>
  </div>
</nav>